.footer {
    background-color: #1F2D60;
    color: white;
    padding: 0.5rem;
    .container {
      justify-content: space-between;
      margin-left: 2em;
      margin-right: 2em;
    }
    .footer-content {
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;

      .footer-title{
        color: #bde0f4;
        margin-bottom: 5px;
        font-size: 2em;
      }
      .footer-section{
        margin-top: 1em;
      }
  
      }
    .footer-bottom {
      text-align: center;
      margin-top: 2rem;
      p {
        margin: 0;
        font-size: 0.8rem;
      }
    }
    
  }
