<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-title">
            <span class="nombre1">Viaja</span>
            <span class="nombre2">Mundo</span><br>
        </div>
        <div class="footer-section">
            <span>Viaja  - </span>
            <span>Sueña - </span>
            <span>Descubre</span>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 ViajaMundo. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  