<nav class="navbar">
    <a class="navbar-brand" style="text-decoration: none;" href="/">
      <img src="assets/Logo-nav.png" alt="ViajaMundo">
      <span class="nombre1">Viaja</span>
      <span class="nombre2">Mundo</span>
    </a>
    <div class="navbar-buttons">
      <button *ngIf="!authService.isAuthenticated()" class="btn" routerLink="/register">SIGN IN</button>
      <button *ngIf="!authService.isAuthenticated()" class="btn" routerLink="/login">LOG IN</button>
      <button *ngIf="authService.isAuthenticated()" class="btn">Ver Perfil</button>
      <button *ngIf="authService.isAuthenticated()" (click)="authService.logout()" class="btn" routerLink="/login">Cerrar Sesión</button>
    </div>
  </nav>