<div class="hero">
    <img src="assets/img1.jpg" alt="Descripción de la imagen">
    <div class="hero-text">
      <h1>VIAJA POR EL MUNDO</h1>
      <p>Conéctate y explora con viajeros de todo el mundo</p>
    </div>
</div>
<div class="viajamundo-section">
    <img src="assets/img4.jpg" alt="Fondo ViajaMundo">
    <div class="viajamundo-description" >
        <blockquote >
            "ViajaMundo" es una emocionante plataforma que tiene como objetivo crear una comunidad global de viajeros apasionados. Nuestra plataforma en línea es un espacio interactivo donde los amantes de los viajes pueden conectarse, compartir experiencias y descubrir nuevas aventuras.
        </blockquote>
    </div>
</div>
<div class="feature-section">

    <div class="feature">
      <div class="feature-image">
        <img src="assets/img2-1.jpg" alt="Descripción imagen 1">
      </div>
      <p>Empieza tus viajes de la mejor manera, conociendo de los mejores</p>
    </div>
  
    <div class="feature">
      <div class="feature-image">
        <img src="assets/img2-2.jpg" alt="Descripción imagen 2">
      </div>
      <p>Conoce experiencias de los mejores, y conectate con ellos</p>
    </div>
  
    <div class="feature">
      <div class="feature-image">
        <img src="assets/img2-3.jpg" alt="Descripción imagen 3">
      </div>
      <p>Comparte historias de tus viajes con otras personas</p>
    </div>
  
    <div class="feature">
      <div class="feature-image">
        <img src="assets/img2-4.jpg" alt="Descripción imagen 4">
      
      </div>
      <p>Planifica tu viaje de la mejor manera a cualquier lugar del mundo</p>
    </div>
  
</div>